<div class="container mt-5">
    <h2 class="mb-4 text-center">Inicio de Sesion </h2>
    
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="email" class="form-label">Correo electrónico</label>
        <input
          type="email"
          formControlName="email"
          class="form-control"
          id="email"
          placeholder="ejemplo@correo.com"
        />
      </div>
  
      <div class="mb-3">
        <label for="password" class="form-label">Contraseña</label>
        <input
          type="password"
          formControlName="password"
          class="form-control"
          id="password"
          placeholder="••••••"
        />
      </div>
      

  
      <button type="submit" class="btn btn-primary w-100" [disabled]="loginForm.invalid">
        Iniciar sesión
      </button>
    </form>
  </div>
  